/* vetcoole colorscemes: */
/*  #5D5C61 darkgrey
    #379683 lightgrey
    #7395AE lightblue
    #557A95 darkerblue
    #B1A296 lightestgrey
*/

* {
    margin: 0;
    padding: 0;
}

body {
    /*    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
    color: black;
    font-size: 20px;
    line-height: 30px;
    overflow-x: hidden;
}

.title {
    background-image: url(images_indexpage/building_background.jpg);
    background-repeat: no-repeat;
    min-height: 1000px;
    line-height: 90px;
    padding-top: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
    font-family: 'Oxanium';
    font-size: 45px;
    text-shadow: 5px 5px 10px;
    transform: all linear 2s
}

h1 {
    width: 750px;
    text-align: center;

}

.title:hover h1 {
    border: 1px solid green;
}


h2 {
    text-align: center;
    color: black;
    padding: 50px;
    font-family: 'Oxanium';

}

nav {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
    width: 100%;

}

nav ul {
    width: 100%;
    list-style: none;
    text-align: center;
}

.litaken {
    margin: 30px;
}


img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
}


figure {
    text-align: center;
    padding-bottom: 20px
}

.taken {

    padding: 10px;
    border: 4px solid #5D5C61;
    border-radius: 20px;
    background-color: lightsteelblue;
    color: black;
    transition: all linear 0.25s
}

.taken:hover {
    background-color: black;
    color: lightblue;
}

a {
    background-color: lightsteelblue;
    color: black;
    font-weight: bold;
    text-decoration: none
}

article {
    /*        margin: 80px;*/
    padding: 50px;
    background-color: lightsteelblue
}

footer {
    margin: 50px;
    text-align: center;
    color: black;

}


#container {
    /*    margin: auto;*/
    /*    width: 980px;*/
    /*    border: 8px solid #05386B;*/
    /*    box-shadow: 5px 3px 10px;*/
    /*    padding: 50px;*/
    /*    border-radius: 50px;*/
    /*    background-image: url(TM_logo_oranje_cmyk.svg);*/
    /*    background-size: 150px 80px;*/
    /*    background-repeat: no-repeat;*/
    /*    background-position: 880px 45px;*/
    /*        background-color: rgba(120, 120, 120, 0.9);*/
    /*    background-color: transparent;*/
    /*    color: #000;*/
}
