/*basisstijl*/


body {
    font-family: tahoma, sans-serif;
    background-color: lightcyan;
    color: black;

}

a:link {
    background-color: inherit;
    color: red;
}

a:visited {
    background-color: inherit;
    color: green;
}

a:hover {
    background-color: #000;
    color: #fff;
}

a:active {
    background-color: inherit;
    color: blue;
}

nav h2 {
    margin: 0;
    padding: 20px;
    background-color: deepskyblue;
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    background-image: url(../images/checkerboard-cross.png);
    background-repeat: repeat;

}

nav ul {
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-basis: 1000px;

}

section {}
