/*basisstijl*/


body {
    font-family: tahoma, sans-serif;
    background-color: lightcyan;
    color: black;
}

a:link {
    background-color: inherit;
    color: red;
}

a:visited {
    background-color: inherit;
    color: green;
}

a:hover {
    background-color: #000;
    color: #fff;
}

a:active {
    background-color: inherit;
    color: blue;
}

nav h2 {
    margin: 0;
    padding: 20px;
    background-color: palevioletred;
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid black
}

nav ul {

    justify-content: space-around;
    align-self: center;
    flex-basis: 1000px;

}
